.form-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-image: url("./assets/login/simple.jpg");
    background-size: cover;
    
}
.form-container img {
    border-radius: 60%;
}
.form-container input {
    width: 10vw;
    margin-top: 0.5vh;
}
.button input{
    background-color: rgba(159, 188, 211, 0.288);
    border: 0.1vw;
}
.button input:hover{
    box-shadow: 0.2vw 0.5vw 0.7vw 0vw rgb(153, 151, 151);
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}

.hidden {
    display: none;
    animation: hideAnimation 0s ease-in 15s;
    animation-fill-mode: forwards;
    //transition-delay: 2s;
}
   
.show {
    display: inline-block;
   // transition: opacity 2s linear;

}
.error{
    margin-top: 2vh;
    font-size: 0.7em;
    color: red;
}